@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,700&family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.headPrivateContainer {
    position: absolute;
    max-width: 1185px;
    width: 98%;
    height: 18%;
    top: 0px;
    display: grid;
    grid-template-columns: auto auto;
}

.taxonomiaNombresLocalesContainer {
    display: grid;
    background: rgba(255, 255, 255, 0.2);
    border: 1.48498px solid #E0E1EC;
    border-radius: 8.90991px;
    height: 98%;
    width: 96%;
    justify-content: center;
    grid-template-rows: 34% auto;

}

.nombresLocalesFilters {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.SelectsContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.nombresLocalesFilters__Button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    width: 179px;
    height: 44.76px;
    background: #0D3F1B;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.nombresLocalesFilters__Button:hover {
    cursor: pointer;
    background-color: #73DB23;
}

.nombresLocalesFilters__Button p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.nombresLocalesFilters__Title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #404D61;
    margin: 5px
}

.nombresLocalesFilters__Search {
    width: 100%;
}

.row-edits-icons-taxonomia span {
    margin: 0px 10px;
    border-radius: 100%;
}

.row-edits-icons-taxonomia span:hover {
    cursor: pointer;
    background-color: #404d6175;
}

.newNombresLocalesButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px 6px 8px;
    width: 103px;
    height: 36px;
    background: #0D3F1B;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.newNombresLocalesButton p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #E0ECDD;
}

.newNombresLocalesButton:hover {
    cursor: pointer;
    background-color: #73DB23;
}

.taxonomiaNombresLocalesContainer__table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/* ------------------MODAL---------------------- */
.modalContainer__SelectsNombresLocales {
    display: grid;
    grid-template-rows: auto auto auto;
    margin-bottom: 10px;
}
