@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap');

.sidebar {
    min-height: 100vh;
    font-family: 'Aleo', serif;
}
.menu {
    padding-bottom: 2.5em;
    position: relative;
    height: auto;
    min-height:525px;
}
.logo-container {
    width: 80%;
    margin: 0 auto;
    max-height:150px;
}
.logo{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.grid-ayuda-social {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    bottom: 0;
}
.social-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}
.icon {
    color: white;
}
.social-icon {
    margin: 10px;
}


